<div class="card card-primary">
  <div class="card-header"><i class="card-header-icon lni lni-wallet"></i><h5 class="card-title"><strong>Make</strong> Transfer</h5></div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="fromAccount">From Account</label>
        <input type="text" class="form-control" id="fromAccount"
          value="My Personal Account: €5824.76" disabled>
      </div>
      <div class="form-group">
        <label for="toAccount">To Account</label>
        <input type="text" class="form-control" id="toAccount"
          placeholder="type an account name">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount"
          placeholder="specify the amount">
      </div>
      <div class="text-right">
        <app-submit-button></app-submit-button>
      </div>
    </form>
  </div>
</div>
