<div class="card">
  <div class="card-header">Transaction <strong>List</strong></div>
  <div class="card-body">
    <app-filter></app-filter>
    <div>
      <app-transaction-item>
        <div data-test-hook='transactionColour'>1</div>
        <div data-test-hook='transactionDate'>2</div>
        <div data-test-hook='transactionMerchantName'>3</div>
        <div data-test-hook='transactionType'>4</div>
        <div data-test-hook='transactionAmount'>5</div>
      </app-transaction-item>
    </div>
  </div>
</div>
