@import 'main';

.form-control::-webkit-input-placeholder {
  font-style: italic;
}
.form-control:-moz-placeholder {
  font-style: italic;
}
.form-control::-moz-placeholder {
  font-style: italic;
}
.form-control::placeholder {
  font-style: italic;
}
.form-control:-ms-input-placeholder {
  font-style: italic;
}

.btn-primary {
  background-color: $primary-orange;
  border-color: darken($primary-orange, 8);
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
  background-color: darken($primary-orange, 6);
  border-color: darken($primary-orange, 8);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: darken($primary-orange, 4);
  border-color: darken($primary-orange, 6);
}

.btn-secondary {
  background-color: $secondary-white;
  color: $color-gray1;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: darken($secondary-white, 6);
  color: $color-gray1;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: darken($secondary-white, 4);
  color: $color-gray1;
}

.header {
  padding: $large-spacing;
}

.header-text {
  color: $primary-blue;
}

app-footer footer {
  padding: $medium-spacing;
}

.main {
  padding: 60px $large-spacing;
}

.card-primary {
  border: none;
  border-radius: 15px;
  .card-header {
    background: $primary-blue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    color: $secondary-white;
    padding: $large-spacing;
  }
  .card-header-icon {
    font-size: 1.8rem;
    margin-right: 15px;
  }
  .card-title {
    font-weight: normal;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-right: 0;
    padding-left: 0;
  }
}
