<div class="background"></div>
<div class="page-wrapper">
  <header class="header d-flex flex-column flex-md-row align-items-center bg-white border-bottom shadow-sm">
    <app-logo class="mr-md-auto"></app-logo>
    <p class="m-0 pt-2 pt-md-0 header-text">Frontend <strong>Technical Assignment</strong></p>
  </header>
  <main class="container main">
    <div class="row">
      <div class="col-lg-4">
        <bb-make-transfer
          #makeTransfer
          [balance]="(balance$ | async) || 0"
          [allowedMinBalance]="bankFacade.getAllowedMinBalance()"
          (submitForm)="confirmTransfer($event)"
        ></bb-make-transfer>
      </div>
      <div class="col-lg-8">
        <bb-transaction-list [transactions]="(transactions$ | async) || []"></bb-transaction-list>
      </div>
    </div>
  </main>
  <app-footer class="d-flex bg-white"></app-footer>
</div>
